### Server Configuration
HOST=${HOST}
PORT=${PORT}
WEBUI_TITLE=${WEBUI_TITLE}
WEBUI_DESCRIPTION=${WEBUI_DESCRIPTION}

### Directory configuration for receiving inputs and outputting RAG graphs
INPUT_DIR=${INPUT_DIR}
WORKING_DIR=${WORKING_DIR}

### Reranking configuration
### If LightRAG deployed in Docker:
###    uses host.docker.internal instead of localhost in RERANK_BINDING_HOST
# RERANK_BINDING=${RERANK_BINDING}
# RERANK_MODEL=${RERANK_MODEL}
# RERANK_BINDING_HOST=${RERANK_BINDING_HOST}
# RERANK_BINDING_API_KEY=${RERANK_BINDING_API_KEY}

### Entity types that the LLM will attempt to recognize
# ENTITY_TYPES=${ENTITY_TYPES}
### Chunk size for document splitting, 500~1500 is recommended
# CHUNK_SIZE=${CHUNK_SIZE}
# CHUNK_OVERLAP_SIZE=${CHUNK_OVERLAP_SIZE}

### LLM Configuration
### LLM_BINDING type: openai, ollama, lollms, azure_openai, aws_bedrock, gemini
### LLM_BINDING_HOST: Service endpoint (left empty if using default endpoint provided by openai or gemini SDK)
### If LightRAG deployed in Docker:
###    uses host.docker.internal instead of localhost in LLM_BINDING_HOST
LLM_BINDING=${LLM_BINDING}
LLM_BINDING_HOST=${LLM_BINDING_HOST}
# LLM_BINDING_API_KEY=
LLM_MODEL=${LLM_MODEL}

### OpenAI compatible embedding
EMBEDDING_BINDING=${EMBEDDING_BINDING}
EMBEDDING_BINDING_HOST=${EMBEDDING_BINDING_HOST}
# EMBEDDING_BINDING_API_KEY=
EMBEDDING_MODEL=${EMBEDDING_MODEL}
EMBEDDING_DIM=${EMBEDDING_DIM}
EMBEDDING_TOKEN_LIMIT=${EMBEDDING_TOKEN_LIMIT}
EMBEDDING_SEND_DIM=${EMBEDDING_SEND_DIM}
